<template>
  <v-app id="inspire">
    <v-content>
      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <v-col cols="12" sm="8" md="4">
            <v-card class="elevation-12">
              <v-toolbar color="info" dark flat>
                <v-toolbar-title>Sign In</v-toolbar-title>
                <div class="flex-grow-1"></div>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                    label="User ID"
                    name="uid"
                    prepend-icon="person"
                    type="id"
                    v-model="input.uid"
                  ></v-text-field>

                  <v-text-field
                    id="password"
                    label="Password"
                    name="password"
                    prepend-icon="lock"
                    type="password"
                    v-model="input.password"
                  ></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <div class="flex-grow-1"></div>
                <v-btn color="info" @click="login()">Sign In</v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import axios from "axios";
export default {
  name: "signin",
  data() {
    return {
      input: {
        uid: "",
        password: ""
      }
    };
  },
  methods: {
    login() {
      axios({
        method: "POST",
        headers: { "Content-type": "application/json" },
        url: "http://docker.jltechsol.com:3000/login",
        data: {
          uid: this.input.uid,
          password: this.input.password
        }
      })
        .then(res => {
          localStorage.uid = res.data.accountInfo.uid;
          localStorage.courseid = res.data.courseid;
          localStorage.token = res.data.token;
          if (res.data.accountInfo.roleid === 1) {
            this.$router.push("/student");
            this.course.courseid;
          } else if (res.data.accountInfo.roleid === 2) {
            this.$router.push("/registrar");
          } else if (res.data.accountInfo.roleid === 3) {
            this.$router.push("/dashboard");
          }
        })
        .catch(err => {
          console.log(err.response);
          alert(err.message);
        });
    }
  }
};
</script>